</main>
    <footer class="main-footer">
        <div class="container">
            <p>&copy; <%= new Date().getFullYear() %> ITB Information Technology Co., Ltd. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
