</main>
    <footer class="main-footer">
        <div class="container">

            <p>&copy; <%= new Date().getFullYear() %> ITB Information Technology Co., Ltd. All Rights Reserved.</p>
                                <link href="https://cdn.jsdelivr.net/npm/@n8n/chat/dist/style.css" rel="stylesheet" />
                        <script type="module">
                            import { createChat } from 'https://cdn.jsdelivr.net/npm/@n8n/chat/dist/chat.bundle.es.js';

                            createChat({
                                webhookUrl: 'https://bambunz.app.n8n.cloud/webhook/e50e1b25-7765-4276-9867-56400dcfc619/chat'
                            });
                        </script>
        </div>
    </footer>
</body>
</html>
