<%- include('partials/header') %>

<div class="container page-content">
    <article class="service-details-content">
        <h2>About ITB Information Technology Co., Ltd.</h2>
        <p><%= companyDescription %></p>
        <p>Our mission is to provide robust and innovative IT security solutions that enable businesses to thrive in an ever-evolving digital landscape, protecting them from threats and ensuring operational continuity.</p>
    </article>
</div>

<%- include('partials/footer') %>
