<%- include('partials/header') %>

<div class="container page-content">
    <section class="page-hero">
        <h1>About Us</h1>
    </section>
    
    <article class="service-details-content">
        <p><%= companyDescription %></p>
        <p>Our mission is to provide robust and innovative IT security solutions that enable businesses to thrive in an ever-evolving digital landscape, protecting them from threats and ensuring operational continuity.</p>
    </article>
</div>

<%- include('partials/footer') %>
