
<%- include('partials/header') %>

<section class="content-section page-content">
<div>
    <img src="//itb-img.s3.ap-southeast-1.amazonaws.com/public/images/email_error.jpg" alt="Email Sent Successfully Banner" class="page-top-futuristic-image">
</div>
<%- include('partials/footer') %>
