



    <%- include('partials/header') %>

    <main class="main-content-area">

        
        <div class="container text-center">
<img src="//itb-img.s3.ap-southeast-1.amazonaws.com/public/images/email_sent.jpg" alt="Email Sent Successfully Banner"  width="80%" height="5%"page-top-futuristic-image">
<br />
    <a href="/" class="btn">Return to Home</a>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
